<div class="divider text-2xl font-bold my-8">About me</div>
<ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
    <li>
      <div class="timeline-middle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
      </div>
      <div class="timeline-start md:text-end mb-10">
        <time class="font-mono italic">Jun 2018 - Jul 2022</time>
        <div class="text-lg font-black">NonFood Floor Manager</div>
        Floor Manager in NonFood Radio/TV-department at Føtex Holbæk. Responsible for the evenening operation of the department, including sales, guidance, warranty and returns.
      </div>
      <hr/>
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
      </div>
      <div class="timeline-end mb-10">
        <time class="font-mono italic">Aug 2018 - Jun 2021</time>
        <div class="text-lg font-black">Higher Technical Exam (HTX)</div>
        Major in Programming, Communication, and IT, with a focus on Web Development. Working with TypeScript, NodeJS, React+Next, Vue+Nuxt, and TailwindCSS. Built with Arduino and Processing 5 development. Awarded the "Fighter of the Year HTX" scholarship for exceptional contributions to social unity and cohesion. Active member of the school student council and chairmanship, promoting student engagement and leadership.
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
      </div>
      <div class="timeline-start md:text-end mb-10">
        <time class="font-mono italic">Sep 2022 - On Going</time>
        <div class="text-lg font-black">Engineering degree in SoftwareTechnology</div>
        At SDU Teknisk Fakultet in Odense, I've done Java development, with JavaFX, Java Modules, Java Spring Boot, and JUnit. I've gained expertise in PostgresQL and database design, and developed dynamic web applications using Angular, PHP, and JavaScript/TypeScript. I honed my skills in software design with UML and ER diagrams, preparing me for complex development challenges as well as diving into software Architecture and design patterns.
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
      </div>
      <div class="timeline-end mb-10">
        <time class="font-mono italic">Mar 2023</time>
        <div class="text-lg font-black">Leadership course from IDA</div>
        A 4-day leadership course with a focus on effective leadership and management. The key emphasis for all topics has been practical applicability and discussions on the complexity of leadership. Areas covered include DISC, Value-Driven Leadership, Leadership vs. Management, Constructive Feedback, and more. Done in collaboration with Poul-Erik Pedersen from BusinessGuides.
        <br /> <a href="assets/LeaderDiploma.pdf" target="_blank" class="text-blue-500">Diploma</a>
      </div>
        <hr />
        <li>
          <div class="timeline-middle">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
          </div>
          <div class="timeline-start md:text-end mb-10">
            <time class="font-mono italic">Sep 2023 - On Going</time>
            <div class="text-lg font-black">Volunteer at the Dorm Board</div>
            As an active member of my dorm's board of directors, I represent the students to the housing association. My responsibilities include organizing events, managing the budget, and ensuring effective representation of student interests.
          </div>
          <hr />
        </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
      </div>
      <div class="timeline-end mb-10">
        <time class="font-mono italic">Oct 2023</time>
        <div class="text-lg font-black">Volunteer at Foreningen Cancerramte Børn</div>
        As a volunteer at The Association for Children with Cancer, I help families affected by cancer enjoy special events. We organize family getaways, festive Christmas parties with food, decorations, and gifts for the children, and an all-inclusive annual summer party.
      </div>
    </li>
  </ul>