<div id="home" class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
      <img src="/assets/MarcusSkjorte2_3.jpg" class="max-w-xs rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-6xl font-bold">Marcus Ellested</h1>
        <p class="py-6">
            Crafting web experiences, learning design patterns and everything in between.<br>
            Currently enrolled as a BEng. Software Engineering at University of Southern Denmark
        </p>
        <button class="btn btn-primary" (click)="scrollToNextContent()">Learn more</button>
      </div>
    </div>
  </div>