<div id="home" class="hero min-h-screen min-w-24 bg-base-200">
  <div class="hero-content flex-col lg:flex-row">
      <img src="/assets/MarcusSkjorte2_3.jpg" class="w-full max-w-xs lg:max-w-sm rounded-lg shadow-2xl" />
      <div class="text-center lg:text-left mt-6 lg:mt-0 lg:ml-8">
          <h1 class="text-4xl lg:text-6xl font-bold">Marcus Ellested</h1>
          <p class="py-4 lg:py-6">
              Crafting web experiences, learning design patterns and everything in between.<br>
              Currently enrolled as a BEng. Software Engineering at University of Southern Denmark
          </p>
          <!-- <button class="btn btn-primary" (click)="scrollToNextContent()">Learn more</button> -->
      </div>
  </div>
</div>
