<div class="bg-[#ff4500] text-white">
    <div class="text-center my-0 py-6 text-xl font-bold">Skills</div>
    <div id="skills" class="flex flex-wrap justify-center gap-8 mx-8 animated-into-view">
        @for (skill of skills; track $index) {
            <div class="rounded-lg p-1 transition-transform transform hover:scale-105">
                <div class="card bg-base-100 shadow-xl w-60 h-full flex flex-col justify-between">
                    <figure class="flex justify-center p-4">
                        <!--Udskift RUST billedet - Det flyder over -->
                        <img srcset="{{skill.logo_url}}" alt="{{skill.alt_text}}" class="w-24 h-24 object-contain" />
                    </figure>
                    <div class="card-body flex flex-col justify-center items-center text-center p-4">
                        <h2 class="card-title text-lg font-semibold">{{skill.name}}</h2>
                        <div class="badge badge-outline mt-2">{{skill.skill_level}}</div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="text-center my-0 py-6 text-xl font-bold">Frameworks</div>
    <div id="frameworks" class="flex flex-wrap justify-center gap-8 mx-8 animated-into-view">
        @for (tech of techs; track $index) {
            <div class="rounded-lg p-1 transition-transform transform hover:scale-105">
                <div class="card bg-base-100 shadow-xl w-60 h-full flex flex-col justify-between">
                    <figure class="flex justify-center p-4">
                        <img srcset="{{tech.logo_url}}" alt="{{tech.alt_text}}" class="w-24 h-24 object-contain" />
                    </figure>
                    <div class="card-body flex flex-col justify-center items-center text-center p-4">
                        <h2 class="card-title text-lg font-semibold">{{tech.name}}</h2>
                        <div class="badge badge-outline mt-2">{{tech.skill_level}}</div>
                    </div>
                </div>
            </div>
        }
    </div>


    
    <div class="text-center my-0 py-6 text-xl font-bold">Tools</div>
    <div id="frameworks" class="flex flex-wrap justify-center gap-8 mx-8 animated-into-view">
        @for (tool of tools; track $index) {
            <div class="rounded-lg p-1 transition-transform transform hover:scale-105">
                <div class="card bg-base-100 shadow-xl w-60 h-full flex flex-col justify-between">
                    <figure class="flex justify-center p-4">
                        <img srcset="{{tool.logo_url}}" alt="{{tool.alt_text}}" class="w-24 h-24 object-contain" />
                    </figure>
                    <div class="card-body flex flex-col justify-center items-center text-center p-4">
                        <h2 class="card-title text-lg font-semibold">{{tool.name}}</h2>
                        <div class="badge badge-outline mt-2">{{tool.skill_level}}</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="spacer wave2"></div>
